---
name: CI

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  CI:
    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest-xlarge, windows-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Build
        run: go build -v ./...

      - name: Test
        run: bash script/test.sh
